@import "altalanosStilus.css";

main {
  grid-template-areas:
    "h"
    "n"
    "ar"
    "f";
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

article a {
  background-color: hsl(150, 100%, 40%);
  margin: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

article a:hover {
  background-color: hsl(150, 100%, 60%);
  box-shadow: 0 0 5px 5px hsl(300, 100%, 50%);
}

article a img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  filter: brightness(50%);
  transition: filter 0.25s;
}

article a:hover img {
  filter: brightness(100%);
}

@media screen and (max-width: 700px) {
  article {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 420px) {
  article {
    grid-template-columns: 1fr;
  }
}
